<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSMQ_Subscriber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MSMQ_Subscriber.Properties.Settings.CS" connectionString="Data Source=.;Initial Catalog=SnapshotTest;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MSMQ_Subscriber.Properties.Settings>
            <setting name="QueueName" serializeAs="String">
                <value>.\Private$\StressTestQueue</value>
            </setting>
        </MSMQ_Subscriber.Properties.Settings>
    </applicationSettings>
</configuration>